@model GroundResistance
@using ElectricBox.Models.Kontur

@{
    ViewData["Title"] = "Расчет контура заземления";
}

@section Head{
    <link rel="stylesheet" href="~/css/kontur.css" />
}

@section Scripts{    
    <script>
        const groundResistance = [];//коллекции для передачи в метод calc для расчетов
        const climaticZoneFactors = [];
        const factorsUseVerticalElectrodes = [];
        const factorsUseHorizontalElectrodes = [];

        let objTmp;//временный объект для пушинга

        //собираем коллекцию инфы о грунтах из GroundResistance
        @foreach (var grnd in @Model.groundResistance)
            {
            @Html.Raw(@"objTmp = {
                ground: new String(""" + grnd.Key + @"""),
                resistance: new String(""" + grnd.Value + @""")
                }

                groundResistance.push(objTmp);
            ");
        };

        //собираем коллекцию инфы о климатич зонах из GroundResistance
        @foreach (var zona in @Model.climaticZoneFactors){
            @Html.Raw(@"objTmp = {
                zona: new String(""" + zona.climaticZone + @"""),
                climaticFactorVert: new String(""" + zona.climaticFactorVert + @"""),
                climaticFactorHor: new String(""" + zona.climaticFactorHor + @""")
                }

                climaticZoneFactors.push(objTmp);
            ");
        };

        //собираем коллекцию инфы о коэф использования верт электродов из GroundResistance
        @foreach (var electrod in @Model.factorsUseVerticalElectrodes)
        {
            @Html.Raw(@"objTmp = {
                ratio: new String(""" + electrod.ratio + @"""),
                countEl: new String(""" + electrod.countEl + @"""),
                factorUse: new String(""" + electrod.factorUse + @""")
                }

                factorsUseVerticalElectrodes.push(objTmp);
            ");
        };       

        //собираем коллекцию инфы о коэф использования гор электродов из GroundResistance
        @foreach (var electrod in @Model.factorsUseHorizontalElectrodes)
        {
            @Html.Raw(@"objTmp = {
                ratio: new String(""" + electrod.ratio + @"""),
                countEl: new String(""" + electrod.countEl + @"""),
                factorUse: new String(""" + electrod.factorUse + @""")
                }

                factorsUseHorizontalElectrodes.push(objTmp);
            ");
        };        
    </script>

    <script src="~/js/Kontur.js"></script>
}

<div id="kontur">
    <div id="partLeft">
        @await Html.PartialAsync("/Views/GroundResistance/Selections.cshtml", new GroundResistance())
    </div>
    <div id="partRight">
        
    </div>
</div>


